[Unit]
Description=Start XMRig
After=network.target

[Service]
ExecStart=/home/user/xmrig/xmrig
WorkingDirectory=/home/user/xmrig/
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
